$app-green: #73e454;
$app-black: #333333;
$app-red: #ff8080;
$app-white: #c5c4c4;
$pure-white: #ffffff;
$app-orange: #ff9e4f;

//THEME CHANGER
/*
$app-green: #63ddff;
$app-black: #383058;
$app-red: #eab733;
$app-white: #c5c4c4;
$pure-white: #ffffff;
*/