.l-app {
	position: relative;
	&__stats {
		position: fixed;
		//z-index: 1;
		right: 30px;
		top: 0;
	}
	&__textblocks {
		position: relative;
	}
	@media (max-width: 1200px) {
		padding-top: 100px;
		&__stats {
		  right: 0;
		  left: 0;
		}
	}
}